// 瀏覽器可能為20px
html{
  font-size: 16px;
}

h1, .h1 {
  font-size: 96px;
  
}
h2, .h2 {
  font-size: 72px;  
}
h3, .h3 {
  font-size: 48px;  
}
h4, .h4 {
  font-size: 24px;  
}



h1, .h1,h2, .h2,h3, .h3,h4, .h4{
  line-height: 1.3;
}
p.p{
  line-height: 1.5;
}
h1, h2, h3, h4{
  font-family: 'Merriweather', serif;
} 
.font-Loto{
  font-family: Loto, sans-serif;
}
.font-Roboto{
  font-family: Roboto, sans-serif;
}