.logo{
  @include  hidden-text(112px, 48px ,url("../images/logo-fixie.svg"))
}
.section{
  &__banner{
    // height: 864px;
    height: 984px;
    position: relative;
  }
  &__banner2{
    height: 960px;
    position: relative;
  }
  &__banner3{
    height: 640px;
    position: relative;
  }
  &__img {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top:0;
    bottom:0;
    
    &__style1{
      height: 960px;
    }
    &__style2{
      height: 864px;
    }
    &__style3{
      height: 640px;
    }
    &__style4{
      height: 600px;
    }
    &__1{
      background-image: url("../images/josh-nuttall-pIwu5XNvXpk-unsplash.jpg");
      z-index: 9;
    }
    &__2{
      background-image: url("../images/josh-nuttall-uNQ-TTg_qNY-unsplash.jpg");
    }
    &__4{
      background-image: url("../images/josh-nuttall-RqFUxO6MKjw-unsplash.jpg");
      background-position: top 20%  center;
    }
  }
  
}

[data-aos="translateX-left"] {
  transform: translateX(0px);
  &.aos-animate {
    transform: translateX(-50px);
  }
}
[data-aos="translateX-right"] {
  transform: translateX(0px);
  &.aos-animate {
    transform: translateX(50px);
    background-position: center left ;
  }
}

[data-aos="bgImage-position-left"] {
  
  &.aos-animate {
    opacity: 1;
    background-position: center left ;
  }
}

// 腳踏車大叔用
[data-aos="bgImage-position-center"] {
  &.aos-animate {
    background-position: top 40%  center ;
  }
}
.opacity-0{
  opacity: 0;
}
.custom{
  &__icon{
    font-size: 48px;
    width: 48px;
    height: 48px;
    &--padding{
      padding: 36px;

    }
  }

}
.readMore{
  margin-right: -71px;
}